body {
  background: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  border: 1px solid red;
  padding: 20px;
  width: 50%;
    height: 50%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.ratings-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.rating img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
